version: 2
updates:
  # Frontend (node/npm)
  - package-ecosystem: "npm"
    directory: "/frontend/"
    schedule:
      interval: "weekly"

  # Backend (python)
  - package-ecosystem: "pip"
    # Ingests Cargo.toml
    directory: "/backend/"
    schedule:
      interval: "weekly"

  # Enable version updates for Docker
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "weekly"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"